node red flow.txt
[{"id":"b9204a20.dad488","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"54684035.86682","type":"debug","z":"b9204a20.dad488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":160,"wires":[]},{"id":"216b2a5f.ab4406","type":"function","z":"b9204a20.dad488","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["54684035.86682","6b3945f5.97e9ec"]]},{"id":"5f19110f.702a9","type":"function","z":"b9204a20.dad488","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["54684035.86682","cc6416f2.b3a198"]]},{"id":"f24bc7bf.1a9bd8","type":"debug","z":"b9204a20.dad488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":500,"wires":[]},{"id":"9c190d1c.46877","type":"http in","z":"b9204a20.dad488","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":360,"wires":[["4c82d2ae.f6dfdc"]]},{"id":"5ffbb9bc.088f48","type":"http response","z":"b9204a20.dad488","name":"","statusCode":"","headers":{},"x":530,"y":360,"wires":[]},{"id":"4c82d2ae.f6dfdc","type":"function","z":"b9204a20.dad488","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["5ffbb9bc.088f48"]]},{"id":"43437d2f.b86b04","type":"http in","z":"b9204a20.dad488","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":100,"y":420,"wires":[["62ef31fc.f3bf4"]]},{"id":"d005edbf.3e9ee","type":"http response","z":"b9204a20.dad488","name":"","statusCode":"","headers":{},"x":490,"y":460,"wires":[]},{"id":"62ef31fc.f3bf4","type":"function","z":"b9204a20.dad488","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":420,"wires":[["d005edbf.3e9ee","17c14426.5ee06c","e16d41d.50315c"]]},{"id":"17c14426.5ee06c","type":"debug","z":"b9204a20.dad488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":420,"wires":[]},{"id":"96685cd2.08448","type":"debug","z":"b9204a20.dad488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":680,"wires":[]},{"id":"941c3931.8af678","type":"debug","z":"b9204a20.dad488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":800,"wires":[]},{"id":"e16d41d.50315c","type":"ibmiot out","z":"b9204a20.dad488","authentication":"apiKey","apiKey":"645a33a7.40e18c","outputType":"cmd","deviceId":"174811","deviceType":"rasberrypi","eventCommandType":"Home","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":560,"wires":[]},{"id":"5ff453a0.5a0efc","type":"ibmiot out","z":"b9204a20.dad488","authentication":"apiKey","apiKey":"645a33a7.40e18c","outputType":"cmd","deviceId":"174811","deviceType":"rasberrypi","eventCommandType":"Home","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":640,"wires":[]},{"id":"f2d140d8.0e1ca","type":"ibmiot out","z":"b9204a20.dad488","authentication":"apiKey","apiKey":"645a33a7.40e18c","outputType":"evt","deviceId":"174811","deviceType":"rasberrypi","eventCommandType":"Home","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":740,"wires":[]},{"id":"8c4df567.87c7b8","type":"ibmiot in","z":"b9204a20.dad488","authentication":"apiKey","apiKey":"645a33a7.40e18c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":160,"wires":[["216b2a5f.ab4406","5f19110f.702a9","54684035.86682"]]},{"id":"ea0be03d.8ffd2","type":"ui_button","z":"b9204a20.dad488","name":"","group":"50c2d5f0.32289c","order":3,"width":0,"height":0,"passthru":false,"label":"LIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTON\"}","payloadType":"json","topic":"","x":100,"y":500,"wires":[["e16d41d.50315c","f24bc7bf.1a9bd8"]]},{"id":"b7a811ff.5e965","type":"ui_button","z":"b9204a20.dad488","name":"","group":"50c2d5f0.32289c","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTOFF\"}","payloadType":"json","topic":"","x":90,"y":540,"wires":[["e16d41d.50315c","f24bc7bf.1a9bd8"]]},{"id":"a549a575.6807b8","type":"ui_button","z":"b9204a20.dad488","name":"","group":"50c2d5f0.32289c","order":4,"width":0,"height":0,"passthru":false,"label":"FANON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"FANON\"}","payloadType":"json","topic":"","x":130,"y":620,"wires":[["96685cd2.08448","5ff453a0.5a0efc"]]},{"id":"4200b7f3.9cda58","type":"ui_button","z":"b9204a20.dad488","name":"","group":"50c2d5f0.32289c","order":5,"width":0,"height":0,"passthru":false,"label":"FANOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"FANOFF\"}","payloadType":"json","topic":"","x":120,"y":680,"wires":[["96685cd2.08448","5ff453a0.5a0efc"]]},{"id":"7a684c4d.2385b4","type":"ui_button","z":"b9204a20.dad488","name":"","group":"50c2d5f0.32289c","order":6,"width":0,"height":0,"passthru":false,"label":"MOTORON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTORON\"}","payloadType":"json","topic":"","x":130,"y":740,"wires":[["941c3931.8af678","f2d140d8.0e1ca"]]},{"id":"e6bd11bd.c52f4","type":"ui_button","z":"b9204a20.dad488","name":"","group":"50c2d5f0.32289c","order":7,"width":0,"height":0,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOROFF\"}","payloadType":"json","topic":"","x":110,"y":800,"wires":[["941c3931.8af678","f2d140d8.0e1ca"]]},{"id":"6b3945f5.97e9ec","type":"ui_gauge","z":"b9204a20.dad488","name":"","group":"50c2d5f0.32289c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":80,"wires":[]},{"id":"cc6416f2.b3a198","type":"ui_gauge","z":"b9204a20.dad488","name":"","group":"50c2d5f0.32289c","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":240,"wires":[]},{"id":"645a33a7.40e18c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"50c2d5f0.32289c","type":"ui_group","z":0,"name":"Default","tab":"ae43075d.d953e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ae43075d.d953e8","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false}]